@media (max-width: 1190px) {
    /* header */

    .header_wrapper .navbar-expand-lg .navbar-nav{
        align-items: center;
    }

    .header_wrapper .navbar-expand-lg .navbar-nav .nav-link{
        padding: 0;
        font-size: .875rem;
    }

    .main-btn{
        font-size: .875rem;
    }
    
}

@media (max-width: 991px) {

    section{
        padding: 1.875rem 0;
    }

    .header-scrolled{
        height: auto;
    }

    .header_wrapper .menu-navbar-nav{

        text-align: center;
        padding: .9375rem;

    }

    .header_wrapper .nav-item .nav-link{
        margin-top: .9375rem;
    }
    
}


@media (max-width: 767px) {

    h1{
        font-size: 1.875rem;
        line-height: 2.5rem;
    }

    h3{
       font-size: 1.75rem;
       line-height: 2.1875rem; 
    }
    h5{
        font-size: 1.25rem;
    }
    p{
        font-size: .8125rem;
        line-height: 1.5rem;
    }
    
}